@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 10px;
    background-color: burlywood;
    width: 500px;
    height: 400px;
}
ul{
   display: grid;
   grid-template-columns: repeat(3,100px);
   grid-template-rows: repeat(3,100px);
   column-gap: 20px;
   row-gap: 10px;
   justify-items: center;
   align-items: start;
   justify-content: center;
   align-content: start;
  /* grid-auto-flow: column;
   grid-auto-columns: 300px;*/
}
li{
    background-color: chartreuse;
    border: 1px solid white;
    list-style: none;
    text-align: center;
    padding: 10px;
}