@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    align-content: center;
    gap: 5px;
    background-color: rgb(144, 144, 238);
}
.img{
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 5px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
#blur{
    width: 100%;
    height: 100%;
    background-color: rgba(29, 24, 24, 0.5);
    position: absolute;
    backdrop-filter: blur(2px);
    display: none;
}
#blur.active{
    display: block;
    display: grid;
    place-items: center;
}
#img{
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 5px;
}