@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

body{
    width: 100vw;
    height: 100vw;
    background-image: url(../image/b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 100vw;
    height: 100vw;
    background-color: black;
    opacity: .8;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color:rgb(179, 55, 11);
    color: white;
    height: 50px;
}
.logo{
    margin-left: 10px;
    line-height: 50px;
}
.container .menu ul li{
   display: inline;
    z-index: 99;
}
.container .menu ul li{
    margin-left: 25px;
    text-align: center;
    line-height: 50px;
    list-style: none;
}
.container .menu ul li a:hover{
    color: aqua;
    transition: .7s;
 }

.container .menu .input{
    line-height: 50px;
    margin:0 15px 0 15px;
    display: inline;
}
.container .menu input{
    height: 25px;
    width: 130px;
    outline: none;
    border: none;
    border-radius: 20px;
    position: relative;
    padding-left: 10px;
}
.container .menu ul li a{
    text-decoration: none;
    color: white;
}
.container .content{
    width: 100%;
    height: 500px;
    display: flex;
   text-align: center;
   justify-content: center;
    align-items: center;
    color: white;
}
.container .content .para h2{
    margin-bottom: 20px;
}
.container .content .para p{
    width: 900px;
    margin: 10px;
    line-height: 25px;
}
.container .content .para button{
    height: 35px;
    width: 90px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    margin-right: 10px;
    color: white;
    margin-top: 30px;
}
button:nth-child(1){
    background-color: rgb(212, 43, 14);
}
button:nth-child(2){
    background-color: rgb(90, 170, 10);
}
