@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    background-color: #130f40;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    position: fixed;
}
header>a i{
    color: #4cd137;

}
header >a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
}
header nav ul{
   width: 100%;
   
  
}
header nav ul li{
    list-style: none;
    float: left;
    padding:0px 20px;
    transition: all .5s;
}
header nav a{
    color: white;
    text-decoration: none;
    transition: all .3s;
}
header nav ul li:hover{
    background-color: #b7b7bd;
}
header nav ul li a:hover{
    
    color: #130f40;
}
.box{
    width: 100%;
    height: 100%;
}
.img{
    background-image: url("bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img h1{
    color: white;
   transition: .5s;

}
.img h1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px, 
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
     text-shadow:black ;
}