@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
    color: rgb(43, 41, 41);
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);     display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
}
.container h3{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: white;
}
.container> p{
    margin-bottom: 20px;
    line-height: 20px;
    color: white;
}
.container .btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 7px 9px;
    border-radius: 20px;
    margin-right: 10px;
    outline: 0;
    border: 0;
    text-transform: capitalize;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;

}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.boxes .box{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;

}
.box p{
    margin-top: 7px;
}