*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    width: 400px;
    height: 400px;
    background-color: rgb(10, 175, 10);
    display: grid;
    place-content: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.circle{
    width: 300px;
    height: 300px;
    border: 15px solid white;
    border-radius: 50%;
    position: relative;
    background-color: rgb(10, 175, 10);;
    z-index: 99;
    display: grid;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.circle i{
    color: white;
    font-size: 170px;
}
.box{
    width: 75px;
    height: 75px;
    border-left: 15px solid white;
    border-bottom: 15px solid white;
    background-color: rgb(10, 175, 10);;
    position: absolute;
    left: -10px;
    bottom: 0;
    z-index: -99;
    transform: skew(-20deg,-20deg);
}